[submodule "plugins/setRemoteUrlPlugin"]
	path = plugins/setRemoteUrlPlugin
	url = ../setRemoteUrlPlugin.git
[submodule "plugins/ulb-theme"]
	path = plugins/ulb-theme
	url = ../ulb-theme.git
[submodule "plugins/searchMarkPlugin"]
	path = plugins/searchMarkPlugin
	url = ../searchMarkPlugin.git
